img {
    text-align: center;  
    height: 500px;
    margin: auto;
}
h1 {
    text-align: center;
    position: sticky;
    top: 0;
    display: table;
    margin: 5px auto;
    padding: 5px;
    background-color: white;
}
.sub {
    font-style: italic;
}
.navbar {
    background: pink;
}
.jumbotron {
    padding-top: 100px;
    background-color: azure;
}
.body {
    background-color: lightblue; 
    text-align: center;
}