h1 {
    text-align: center;
    padding: 0;
}
.box-header {
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.box1 {
    background-color: pink;
    border-radius: 25px;
    height: 20vh;
    margin: 20px;
    text-align: center;
}
.box2 {
    background-color: lightseagreen;
    border-radius: 25px;
    height: 20vh;
    margin: 20px;
    text-align: center;
}
.box3 {
    background-color: lightblue;
    border-radius: 25px;
    height: 20vh;
    margin: 20px;
    text-align: center;
}
.box4 {
    background-color: lavender;
    border-radius: 25px;
    height: 25vh;
    margin: 20px;
    text-align: center;
}
.box5 {
    background-color: lightgreen;
    border-radius: 25px;
    height: 20vh;
    margin: 20px;
    text-align: center;
}
img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

ul li {
    display: inline;
    list-style: none;
    padding: 20px;
}
.heading {
    text-align: center;
}
